v-for(失败)
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <titil>vue测试实例</titil>
    <script src="libs/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <ul>

            <li v-for="it in arr">
                {{index+1}}黑马程序员校区:{{it}}
            </li>
        </ul>
            <h2 v-for="item in vegetables" v-bind:title="item.name">
                {{item.name}}

            </h2>

   

    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                arr: ["北京", "上海", "广州", "深圳"],
                vegetables: [{ name: "西蓝花炒鸡蛋" },
                { name: "番茄炒鸡蛋" }

                ],
            },
                methods: {
                    add: function () {

                    }
                },
            
        })
    </script>
</body>

</html>